page-buy {
	
	#left { 
		position: absolute; 
		left: 0; 
		top: 0; 
		width: 50%; 
		height:100%; 
		background-color: red;
	}
	
   	#right { 
   		position: absolute; 
   		right: 0; 
   		top: 0; 
   		width: 50%; 
   		height:100%; 
   		overflow: auto;
	}
   	
   	#map {
		width:100%;
		height:100%;
	}

	.d-none {
		display: none;
	}

	.hand {
		cursor: pointer;
	}

	.item .item-content {
		background-color: transparent !important;
	}

	.btn-hover {
		background-color: #bfdbef !important
	}
}